#gameBox {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  position: absolute;
  top: 2%;
  font-size:21px;
  left:5%;
}

.buttonHit{
  background-color: "green";
  font-size:30px;
   
}

.buttonStand{
  background-color: "red";
  font-size:30px;
   
}
